<h2> Hello, {{ name }}! </h2>
<h2> History of biathlon... </h2>
			<div class="history1">
				<div class="text">
					Охота на лыжах издавна являлась частью быта многих северных народов. 
					Однако рассматривать эту деятельность как некое подобие спортивных состязаний
					начали лишь с XVIII века. Первые официальные соревнования, отдалённо напоминавшие биатлон,
					прошли в 1767 году. Их организовали пограничники на шведско-норвежской границе. Несмотря
					на столь раннее зарождение, биатлон не получил распространения в других странах. Впервые
					на крупных международных соревнованиях состязания, напоминавшие современный биатлон, были
					включены в 1924 году на I зимних Олимпийских играх во французском Шамони. Назывались они
					«соревнования военных патрулей»и проходили как демонстрационные состязания.
				</div>
				<div class="pic">
					<img src="images/history1.jpeg">
				</div>
			</div>
			<div class="history1">
				<div class="pic">
					<img src="images/history2.jpeg">
				</div>
				<div class="text">
					 В 1954 году Международный олимпийский комитет признал биатлон как вид спорта. 
					 Уже в 1958 году проходит первое крупное международное биатлонное соревнование —
					 чемпионат мира в австрийском Зальфельдене. Через два года биатлон включается в
					 программу зимних Олимпийских игр. С 1978 года начинается также история Кубка мира. Первоначально соревнования включали в
					 себя лишь мужские гонки. В 1984 проводится первый женский Чемпионат мира Шамони.
					 С сезона 1987/1988 женские дисциплины включаются в календарь Кубка мира. В том же году Международный
					 олимпийский комитет принимает решение включить женские дисциплины в программу зимних Олимпийских игр 1992 года во французском Альбервиле. 
				</div>
			</div>
			<div class="text">
                     <p>30 ноября 1992 года во французском городе Амели-ле-Бен-Палальда было принято решение об отделении
					 биатлона от современного пятиборья. 2 июля 1993 года в Лондоне на Чрезвычайном конгрессе Международной федерации современного пятиборья
					 и биатлона было официально объявлено о создании Международного союза биатлонистов.  С отделением биатлона от современного пятиборья 
					 началось расширение формата соревнований. В 1994 году в финском Контиолахти прошёл первый чемпионат Европы, через два года — первые
					 крупные международные соревнования по летнему биатлону — чемпионат мира в австрийском Хохфильцене. </p> 
				</div>
			<div class="pic3">
					<img src="images/history3.jpeg">
				</div>