<h2> Hello, {{ name }}! </h2>
<h2> History of biathlon... </h2>
			<div class="history1">
				<div class="text">
					Ski hunting has long been part of the life of many northern peoples.
					However, to consider this activity as a kind of sports
					started only from the XVIII century. The first official competition, vaguely reminiscent of biathlon,
					passed in 1767. They were organized by border guards on the Swedish-Norwegian border. Despite
					At such an early birth, biathlon has not received distribution in other countries. First
					at major international competitions, competitions that resembled modern biathlon were
					included in 1924 at the I Winter Olympics in the French Chamonix. They were called
					“Military patrol competitions” and were held as demonstration competitions.
				</div>
				<div class="pic">
					<img src="images/history1.jpeg">
				</div>
			</div>
			<div class="history1">
				<div class="pic">
					<img src="images/history2.jpeg">
				</div>
				<div class="text">
					 In 1954, the International Olympic Committee recognized biathlon as a sport.
					Already in 1958, the first major international biathlon competition -
					World Championship in Saalfelden, Austria. Two years later, biathlon is included in
					Winter Olympics Program. Since 1978 also begins the history of the World Cup. Initially the competition included
					yourself only the men's race. In 1984, the first Women's World Championships Chamonix.
					Since the 1987/1988 season, women's disciplines are included in the World Cup calendar. That same year, the International
					The Olympic Committee decides to include women's disciplines in the program of the 1992 Winter Olympics in Albertville, France. 
				</div>
			</div>
			<div class="text">
                     <p>On November 30, 1992, in the French city of Amelie-les-Bains-Palald, it was decided to separate
						biathlon from modern pentathlon. July 2, 1993, in London at the Extraordinary Congress of the International Federation of Modern Pentathlon
						and biathlon was officially announced the creation of the International Biathlon Union. With the separation of biathlon from modern pentathlon
						The expansion of the competition format has begun. In 1994, the first European championship was held in Kontiolahti in Finnish, two years later - the first
						The major international summer biathlon competitions are the World Championships in Hochfilzen, Austria. </p> 
				</div>
			<div class="pic3">
					<img src="images/history3.jpeg">
				</div>