<aside class="menu">
	<li class="element"> <a  href="main">  <div class="vert_text"> Main</div></a></li>
    {{# if isAuthorized}}
    <li class="element"> <a  href="logout">  <div class="vert_text"> Log out</div></a></li>
    {{ else }}
    <li class="element"> <a  href="authorization">  <div class="vert_text"> Authorization</div></a></li>
    <li class="element"> <a  href="registration">  <div class="vert_text"> Registration</div></a></li>
    {{/ if }}
    <li class="element"> <a  href="profiles">  <div class="vert_text"> Profiles</div></a></li>
    {{# if isAdmin}}
    <li class="element"> <a  href="parseFile">  <div class="vert_text"> Add file</div></a></li>
    <li class="element"> <a  href="addPlace">  <div class="vert_text"> Add place</div></a></li>
    <li class="element"> <a  href="updateProfiles">  <div class="vert_text"> Update profiles</div></a></li>
    {{/ if }}
</aside>
<div class="main_part">
	{{{ body }}}			
</div>
<div class="right_side">
	<div class="news">
				<div class="news_title"> <div class="vert_text">Последние новости</div></div>
			    <a  href="#">  
					<p class="news_list">2018-02-18<br> Дарье Домрачевой вручили олимпийскую серебряную медаль</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-18<br> Пхенчхан 2018. Результаты мужского масс-старта</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-17<br> Надежда Скардино: Нас вдохновила золотая медаль Анны Гуськовой</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-13<br> Пхенчхан 2018. Женская индивидуальная гонка перенесена</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-09<br> Юлия Джима пропустит спринт</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-09<br> CAS отклонило аппеляцию россиян на участие в Олимпиаде</p>
				</a>
			</div>
			<div class="questionie">
				
					<div class="questionie_title"> <div class="vert_text">Какую гонку на Олимпиаде вы считаете самой захватывающей?</div></div>
				      <input type="radio" name="answer" class="variant"><span class="text_variant">Женский спринт</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Мужской спринт</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Женский пасьют</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Мужской пасьют</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Женская инд. гонка</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Мужская инд. гонка</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Женский масс-старт</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Мужской масс-старт</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Женская эстафета</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Мужская эстафета</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Смешанная эстафета</span><br>
                      <p><input type="submit" class="button2" ></p>
				
			</div>		
</div>