<aside class="menu">
	<li class="element"> <a  href="/main">  <div class="vert_text"> Main</div></a></li>
    {{# if isAuthorized}}
    <li class="element"> <a  href="/logout">  <div class="vert_text"> Log out</div></a></li>
    {{ else }}
    <li class="element"> <a  href="/authorization">  <div class="vert_text"> Authorization</div></a></li>
    <li class="element"> <a  href="/registration">  <div class="vert_text"> Registration</div></a></li>
    {{/ if }}
    <li class="element"> <a  href="/profiles">  <div class="vert_text"> Profiles</div></a></li>
	<li class="element"> <a  href="/races">  <div class="vert_text"> Races</div></a></li>
	<li class="element"> <a  href="/womenWorldCup">  <div class="vert_text"> Woman Cup</div></a></li>
	<li class="element"> <a  href="/menWorldCup">  <div class="vert_text"> Man Cup</div></a></li>
    {{# if isAdmin}}
    <li class="element"> <a  href="/parseFile">  <div class="vert_text"> Add file</div></a></li>
    <li class="element"> <a  href="/addPlace">  <div class="vert_text"> Add place</div></a></li>
    <li class="element"> <a  href="/updateProfiles">  <div class="vert_text"> Update profiles</div></a></li>
    {{/ if }}
</aside>
<div class="main_part">
	{{{ body }}}			
</div>
<div class="right_side">
	<div class="news">
				<div class="news_title"> <div class="vert_text">Last news</div></div>
			    <a  href="#">  
					<p class="news_list">2018-02-18<br> Darya Domracheva was gave Olympic silver medal</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-18<br> Pyeongchang 2018. Men mass start results</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-17<br> Nadezhda Skardino: We were inspired of Anna Guskova's gold medal</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-13<br> Pyeongchang 2018. Women individual is postponed</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-09<br> Julia Dzima will miss sprint</p>
				</a>
				<a  href="#">  
					<p class="news_list">2018-02-09<br> CAS rejected the appeal of the Russians to participate in the Olympics</p>
				</a>
			</div>
			<div class="questionie">
				
					<div class="questionie_title"> <div class="vert_text"> How do you think whick Olympic race was the most exciting?</div></div>
				      <input type="radio" name="answer" class="variant"><span class="text_variant">Women sprint</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Men sprint</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Women pursuit</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Men pursuit</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Women individual</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Men individual</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Women mass start</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Men mass start</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Women relay</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Men relay</span><br>
					  <input type="radio" name="answer" class="variant"><span class="text_variant">Mixed relay</span><br>
                      <p><input type="submit" class="button2" ></p>
				
			</div>		
</div>