<!DOCTYPE HTML>
<html>
 <head>
  <title>Biathlon</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
 </head>
 <div class="header">
		<h1 class="site_name">Biathlon world</h1>
</div>
 <body class="content">
 <div class="main">
    {{{ body }}}
 </div>
 <div class="footer"> © Andrew, 2019 </div>
 </body>
</html>